.list-group-item {
  line-height: 2.5;
}
#results{
  padding: 2%;
  font-family: 'Questrial', sans-serif;
  font-size: 10pt;
  background-color: white;
  border: solid 5px #d12cbb;
  margin: 3%;
}
#favorites{
  padding: 3%;
  border: solid 5px #d12cbb;
  background-color: white;
  margin: 3%;
}
#jobDetail{
  padding: 3%;
  font-family: 'Questrial', sans-serif;
  background-color: white;
  border: solid 5px #3db14b;
  margin: 3%;
}
#searchTerms{
  padding: 2%;
  background-color: white;
  border: solid 5px #3db14b;
  margin: 3%;
}
h1{
  font-size: 20px;
}
h2{
  font-size: 20px;
}

header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 70%;
  background-color: whitesmoke;
}

.logo {
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.blurb {
  font-family: 'Questrial', sans-serif;
}

.background {
  background-image:url("../images/what-the-hex-dark.png");

  width: 100%;
  margin: 0 auto;
}

.reveal {
  background-color: whitesmoke;
}

.button {
  background-color: #3db14b;
}

.favHeart {
  background-color: none;
  color: grey;
  font-size: 28px;
}

.pink {
  background-color: none;
  color: deeppink;
  font-size: 28px;
}