.list-group-item {
  line-height: 2.5;
 }
 #results{
  padding: 2%;
  font-family: 'Questrial', sans-serif;
 }
 #favorites{
  padding: 3%;
 }
 #jobDetail{
  padding: 3%;
  font-family: 'Questrial', sans-serif;
 }
 #searchTerms{
  padding: 2%;
 
 }
 
 header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 70%;
  background-color: whitesmoke;
  border: solid 5px;
  }

.logo {
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
 }
 
 h1, h2, .blurb {
  font-family: 'Questrial', sans-serif;
 }
 
 .background {
  background-image:url("../images/what-the-hex-dark.png");
 }

 .search-bar {
  width: 100%;
  margin: 0 auto;
 }
 
 .reveal {
  background-color: whitesmoke;
 }
 
 .button {
  background-color: #3db14b;
 }